<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/loading.css" type="text/css">
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
</head>

<body>
    <div class="profile_container">
        <img crossorigin="anonymous" src=<%=user.image %> alt="user">
        <div class="user_data">
            <h1>
                <%= user.username %>
            </h1>
            <p class="email">
                <%= user.email %>
            </p>
            <p class="time">
                <%= user.createdAt %>
            </p>
        </div>
        <a href="/auth/logout" class="profile_logout">Logout</a>
    </div>
    <div id="load" class="show">
        <div>G</div>
        <div>N</div>
        <div>I</div>
        <div>D</div>
        <div>A</div>
        <div>O</div>
        <div>L</div>
    </div>
    <script src="/js/loading.js" type="text/javascript"></script>
</body>

</html>