<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
</head>

<body>
    <div class="profile_container">
        <img src="/img/user.png" alt="user">
        <div class="user_data">
            <h1>paing sett kyaw</h1>
            <p class="email">paing@gmail.com</p>
            <p class="time">2023-01-25T09:43:48.313+00:00</p>
        </div>
    </div>
</body>

</html>