<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Profile page</h1>
    <ul>
        <li>Name:<%= user.displayName %>
        </li>
        <li>Create Time: <%= user.createdAt %>
        </li>
        <li>Email: <%= user.email %>
        </li>
        <li><img crossorigin="anonymous" src=<%=user.image %> alt="profile" /></li>
    </ul>

    <p>Logout <a href="/auth/logout">X</a></p>
</body>

</html>