@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  width: 25%;
  border: 1px solid black;
  text-align: center;
  padding: 2%;
}

.login_container h1 {
  font-family: "Comfortaa", cursive;
  margin-bottom: 10%;
}

.login_container .login_error {
  /* display: none; */
  border: 1px solid red;
  color: red;
  padding: 5% 0;
  font-family: "Roboto Mono", monospace;
}

.login_container .login_form {
  width: 100%;
}

.login_container .login_form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_container .login_form form > * {
  margin: 3% 2%;
  width: 100%;
}

.login_container .login_form form input {
  height: 35px;
  padding-left: 3%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-family: "Roboto Mono", monospace;
}

.login_container .login_form form button {
  height: 45px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Roboto Mono", monospace;
  border: none;
  color: white;
  background-color: rgb(65, 223, 65);
}

.login_container .login_form .signup_cs {
  margin: 8% auto;
  font-size: 0.8rem;
  font-family: "Inconsolata", monospace;
}

.login_container .btn_cs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login_container .btn_cs a {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "DM Sans", sans-serif;
  border: 1px solid black;
}

.login_container .btn_cs img {
  width: 30px;
}

@media (max-width: 769px) {
  .login_container {
    width: 80%;
    padding: 4%;
  }
  .login_container .btn_cs img {
    width: 25px;
  }
  .login_container .btn_cs p {
    font-size: 14px;
  }
  .login_container h1 {
    font-size: 35px;
  }
}
