<%- include('../components/header.ejs'); -%>
    <div class="home_container">
        <h1>Hi, <%= username %>
        </h1>
        <p>You are successfully login.</p>
        <a href="/profile">Profile</a>
    </div>
    <%- include('../components/footer.ejs'); -%>